{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>User Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>

<link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
<link
href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css"
rel="stylesheet"
/>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     <script src="https://kit.fontawesome.com/a076d05399.js"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'all_base_style.css' %}">

</head>
<body>
{% include 'message.html' %}
  {% include 'nav.html' %}
<div class="sidebar" id="mySidebar">

  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

<div class="heading">
<h1>Our locations</h1>
</div>
<div id="listings" class="listings"></div>
</div>

<div id="main">
  <div class="buttons">

    <button class="openbtn" onclick="openNav()">&#9776; View Locations</button>
    <h2 class = "text-white text-center mt-3">View Nearby Parking Slots Here</h2>

  <button class="openbtn"  onclick="javascript:openForm()" type="button" data-toggle="tooltip" data-placement="top" title="Add">Scan QR</button>

  </div>





  <div id="map" class="map"></div>

  <div id="menu">


    <input id="satellite-v9" type="button" class="btn btn-info" name="rtoggle" value="satellite" checked="checked">
    <!-- See a list of Mapbox-hosted public styles at -->
    <!-- https://docs.mapbox.com/api/maps/styles/#mapbox-styles -->

    <input id="light-v10" type="button" class="btn btn-success" name="rtoggle" value="light">

    <input id="dark-v10" type="button" class="btn btn-dark" name="rtoggle" value="dark">

    <input id="streets-v11" type="button" class="btn btn-warning" name="rtoggle" value="streets">

    <input id="outdoors-v11" type="button" class="btn btn-primary" name="rtoggle" value="outdoors">

    <input id="satellite-streets-v11" type="button" class="btn btn-secondary" name="rtoggle" value="satellite streets" checked="checked">

    <input id="navigation-day-v1" type="button" class="btn btn-danger" name="rtoggle" value="Day">

    <input id="navigation-night-v1" type="button" class="btn btn-success" name="rtoggle" value="Night">

    </div>

</div>


<div class="formPopup" id="popupForm">

        <form method='POST' onsubmit="vehicle_and_booking_details" class="formContainer">
            <span class="close">&times;</span>
          {% csrf_token %}
<h2>Scan QR code to Know booking Details</h2>
          <br>
{% load qr_code %}
 {% qr_from_text data size=15 border=6 %}

</form>
</div>
<script>
      function openForm() {
        document.getElementById("popupForm").style.display = "block";
      }

      document.getElementsByClassName("close")[0].onclick = function() {
  document.getElementById("popupForm").style.display = "none";
}

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/6d2ea823d0.js"></script>

<script>


mapboxgl.accessToken = 'pk.eyJ1IjoiYWpheWdhbmFwYXRoeSIsImEiOiJja3Rwa3B4a3YwbmN3Mm5vYXVmcDZ3a2Q0In0.tDNoDJ7YnUQnBRdLChAE2Q';

const layerList = document.getElementById('menu');
const inputs = layerList.getElementsByTagName('input');

for (const input of inputs) {
input.onclick = (layer) => {
const layerId = layer.target.id;
map.setStyle('mapbox://styles/mapbox/' + layerId);
};
}



function openNav() {
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("main").style.marginLeft = "25%";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}

var places='{{places|safe}}';
  //console.log(places);
var data=JSON.parse(places);
var store={};
  //console.log(data);
data.forEach(print);
function print(item,index){

    //console.log(item.pk);
    store[index]={
            'type': 'Feature',
            'geometry': {
              'type': 'Point',
              'coordinates': [item.fields.longitude, item.fields.latitude]
         },
            'properties': {
              //'phoneFormatted': '(202) 234-7336',
              //'phone': '2022347336',
              //'address': '1471 P St NW',
              'id':item.pk,
              'address': item.fields.address,
              'place_name': item.fields.place_name,
              'slots':item.fields.total_transport-item.fields.occupied_transport,
              'amount':item.fields.money_per_hour,
              //'city': 'Washington DC',
              //'country': 'United States',
              //'crossStreet': 'at 15th St NW',
              //'postalCode': '20005',
              //'state': 'D.C.'
              }

          };
}

/**
* Add the map to the page
*/
const map = new mapboxgl.Map({
container: 'map',
style:'mapbox://styles/mapbox/satellite-streets-v11',
center: [77.95461288482761,10.787528075599468],
zoom: 10,
scrollZoom: true
});

const stores = {
        'type': 'FeatureCollection',
        'features': [

       Object.values(store)
        ]
      };
console.log(stores);

/**
* Assign a unique id to each store. You'll use this `id`
* later to associate each point on the map with a listing
* in the sidebar.
//stores.features.forEach((store, i) => {
//store.properties.id = i;
//});
*/


/**
* Wait until the map loads to make changes to the map.
*/
    map.on('load', () => {
      //console.log(map);
              /**
         * This is where your '.addLayer()' used to be, instead
         * add only the source without styling a layer
         */
        map.addControl(geolocate);

        map.addSource('places', {
          'type': 'geojson',
          'data': stores
        });

        /**
         * Add all the things to the page:
         * - The location listings on the side of the page
         * - The markers onto the map
         */
        buildLocationList(stores);
        addMarkers();
      });

/**
* Add a marker to the map for every store listing.
**/
function addMarkers() {
        /* For each feature in the GeoJSON object above: */
        for (const marker of stores.features[0]) {
        //console.log(marker);
          /* Create a div element for the marker. */
          const el = document.createElement('div');
          /* Assign a unique `id` to the marker. */
          el.id = `marker-${marker.properties.id}`;
          /* Assign the `marker` class to each marker for styling. */
          el.className = 'marker';


          /**
           * Create a marker using the div element
           * defined above and add it to the map.
           **/
          new mapboxgl.Marker(el, { offset: [0, -23] })
            .setLngLat(marker.geometry.coordinates)
            .addTo(map);

          /**
           * Listen to the element and when it is clicked, do three things:
           * 1. Fly to the point
           * 2. Close all other popups and display popup for clicked store
           * 3. Highlight listing in sidebar (and remove highlight for all other listings)
           **/
          el.addEventListener('click', (e) => {
            /* Fly to the point */
            flyToStore(marker);
            /* Close all other popups and display popup for clicked store */
            createPopUp(marker);
            /* Highlight listing in sidebar */
            const activeItem = document.getElementsByClassName('active');
            e.stopPropagation();
            if (activeItem[0]) {
              activeItem[0].classList.remove('active');
            }
            const listing = document.getElementById(
              `listing-${marker.properties.id}`
            );
            listing.classList.add('active');
          });
        }
      }

      /**
       * Add a listing for each store to the sidebar.
       **/
      function buildLocationList({ features }) {
        for (const { properties } of features[0]) {
          /* Add a new listing section to the sidebar. */
          const listings = document.getElementById('listings');
          const listing = listings.appendChild(document.createElement('div'));
          /* Assign a unique `id` to the listing. */
          listing.id = `listing-${properties.id}`;
          /* Assign the `item` class to each listing for styling. */
          listing.className = 'item';

          /* Add the link to the individual listing created above. */
          const link = listing.appendChild(document.createElement('a'));
          link.href = '#';
          link.className = 'title';
          link.id = `link-${properties.id}`;
          link.innerHTML = `${properties.place_name}`;
          link.innerHTML = `${properties.address}`;

          /* Add details to the individual listing. */
          const details = listing.appendChild(document.createElement('div'));
          link.innerHTML = `${properties.place_name}`;
          details.innerHTML = `Address:${properties.address}`;
          details.innerHTML += `<br>Slots Available :${properties.slots}`;
          details.innerHTML+= `<br>Per Hour :Rs.${properties.amount}`;
          if (properties.phone) {
            details.innerHTML += ` &middot; ${properties.phoneFormatted}`;
          }

          /**
           * Listen to the element and when it is clicked, do four things:
           * 1. Update the `currentFeature` to the store associated with the clicked link
           * 2. Fly to the point
           * 3. Close all other popups and display popup for clicked store
           * 4. Highlight listing in sidebar (and remove highlight for all other listings)
           **/
          link.addEventListener('click', function () {
            for (const feature of features[0]) {
              if (this.id === `link-${feature.properties.id}`) {
                flyToStore(feature);
                createPopUp(feature);
              }
            }
            const activeItem = document.getElementsByClassName('active');
            if (activeItem[0]) {
              activeItem[0].classList.remove('active');
            }
            this.parentNode.classList.add('active');
          });
        }
      }


/**
* Use Mapbox GL JS's `flyTo` to move the camera smoothly
* a given center point.
**/
function flyToStore(currentFeature) {
map.flyTo({
center: currentFeature.geometry.coordinates,
zoom: 15
});
}

/**
* Create a Mapbox GL JS `Popup`.
**/
function createPopUp(currentFeature) {
var store_id=currentFeature.properties.id;
const popUps = document.getElementsByClassName('mapboxgl-popup');
if (popUps[0]) popUps[0].remove();
const popup = new mapboxgl.Popup({ closeOnClick: false })
.setLngLat(currentFeature.geometry.coordinates)
.setHTML(
`<h3>${currentFeature.properties.place_name}</h3><h4>${currentFeature.properties.address}</h4>
<h5 class="text-warning">Rs.${currentFeature.properties.amount} per Hour<br></h5>
<a  style="width:100%;" class="btn btn-primary" href="/home/book_now/${store_id}">Book Now</a>`
)
.addTo(map);
}
      let geolocate = new mapboxgl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: true
                },
                trackUserLocation: true
            })
        //map.addControl(geolocate);


        geolocate.on('click', function(e) {

            // The event object (e) contains information like the
            // coordinates of the point on the map that was clicked.
            let latitude = e.lngLat.lat;
            let longitude = e.lngLat.lng;
            alert("Clicked");
            $("#latitude").text(latitude);
            $("#longitude").text(longitude);


        });

</script>
</body>
</html>